@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html {
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

.whatsapp-icon {
  z-index: 9999; 
  position: fixed;
  bottom: 20px;  /* Distance from the bottom of the screen */
  right: 20px;   /* Distance from the right of the screen */
  background-color: #25D366;  /* WhatsApp green color */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.whatsapp-icon i {
  color: white;
}

.whatsapp-icon:hover {
  transform: scale(1.1);  /* Make the icon slightly bigger on hover */
}

.whatsapp-icon:focus {
  outline: none;
}